{% trans_default_domain 'templatesTranslations' %}

<table class="table table-striped table-condensed">
    <tbody>
        {% for g in games %}
            <tr>
                {% set img = null %}
                {% if g.image is not null %}
                    {% set img = g.image %}
                {% endif %}
                <td class="home-last-adds-photo hidden-xs hidden-sm" data-toggle="tooltip" title="{{ g.name }} ({{ g.plateform }}) : {{ g.price }}€">
                    {% if img is not null %}
                        <a id="game-{{ g.id }}" href="#" onclick="return false;" data-html="true" data-trigger="focus" data-placement="left" data-toggle="popover" title="{{ g.name }} ({{ g.plateform }})" data-content="<img class='margin-auto' src='public/pictures/{{ img }}' alt='Game picture' />"> 
                            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                        </a>
                    {% endif %}
                </td>
                <td class="home-last-adds-name" data-toggle="tooltip" title="{{ g.name }} ({{ g.plateform }}) : {{ g.price }}€">
                    <a href="{{ path('frontend_frontoffice_game_page', {'id': g.id, 'name':g.name|url_encode}) }}">{{ g.name }}</a>
                </td>
                <td class="home-last-adds-plateform" data-toggle="tooltip" title="{{ g.name }} ({{ g.plateform }}) : {{ g.price }}€">
                    {{ g.plateform }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary margin-20" href="{{ path('frontend_frontoffice_last_adds', {}) }}">{{ 'home.last_adds.games.button'|trans }}</a>