{% extends 'FrontendFrontOfficeBundle::baseFrontend.html.twig' %}
{% trans_default_domain 'templatesTranslations' %}

{% block body %}
<div id="home_content" class="row">
    <div id="left_content" class="col-xs-2 col-sm-2 col-md-2">
        <div class="block-content space-under">
            <fieldset>
                 {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <legend class="space-under">{{ 'home.account.title'|trans }}</legend>
                    {{ render(controller('FrontendFrontOfficeBundle:Home:ProfileSummary', {})) }}
                {% else %}
                    <legend class="space-under">{{ 'home.login.title'|trans }}</legend>
                    <div>
                        {{ render(controller('FOSUserBundle:Security:login', {})) }}
                    </div>
                {% endif %}
            </fieldset>
        </div>
        <div class="block-content">
            <fieldset>
                <legend>{{ 'home.help.title'|trans }}</legend>
            </fieldset>
        </div>
    </div>
    <div id="center_content" class="col-xs-7 col-sm-7 col-md-7">
        <div class="block-content">
            <fieldset>
                <legend>{{ 'home.catalog.title'|trans }}</legend>
            </fieldset>
        </div>
    </div>
    <div id="right_content" class="col-xs-3 col-sm-3 col-md-3">
        <div class="block-content space-under">
            <fieldset class="block-content">
                <legend>{{ 'home.lasts_adds.title'|trans }}</legend>
            </fieldset>
        </div>
        <div class="block-content">
            <fieldset class="block-content">
                <legend>{{ 'home.bests_sells.title'|trans }}</legend>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}