{% extends 'FrontendFrontOfficeBundle::baseFrontend.html.twig' %}
{% trans_default_domain 'templatesTranslations' %}

{% block body %}
    <div id="home_content" class="row">
        <div id="left_content" class="col-xs-12 col-sm-6 col-md-6 col-lg-2       col-xs-offset-0 col-sm-offset-3 col-md-offset-3 col-lg-offset-0">
            <div class="panel panel-default panel-extent">
                <div class="panel-body">
                    <fieldset>
                       {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <legend class="space-under">{{ 'home.account.title'|trans }}</legend>
                            {{ render(controller('FrontendFrontOfficeBundle:Home:ProfileSummary', {})) }}
                        {% else %}
                            <legend class="space-under">{{ 'home.login.title'|trans }}</legend>
                            <div>
                                {{ render(controller('FOSUserBundle:Security:login', {})) }}
                            </div>
                        {% endif %}
                    </fieldset>
                </div>
            </div>
            <div class="panel panel-default panel-extent">
              <div class="panel-body">
                <fieldset>
                    <legend>{{ 'home.help.title'|trans }}</legend>
                    Here is the help
                </fieldset>
              </div>
            </div>
        </div>
        <div id="center_content" class="col-xs-12 col-sm-12 col-md-12 col-lg-8       col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
            <div class="panel panel-default panel-extent">
              <div class="panel-body">
                <fieldset>
                    <legend>{{ 'home.catalog.title'|trans }}</legend>
                    Here is the catalog
                </fieldset>
              </div>
            </div>
        </div>
        <div id="right_content" class="col-xs-12 col-sm-6 col-md-6 col-lg-2       col-xs-offset-0 col-sm-offset-3 col-md-offset-3 col-lg-offset-0">
            <div class="panel panel-default panel-extent">
              <div class="panel-body">
                <fieldset>
                    <legend>{{ 'home.lasts_adds.title'|trans }}</legend>
                    Here are the last adds
                </fieldset>
              </div>
            </div>
            <div class="panel panel-default panel-extent">
              <div class="panel-body">
                <fieldset>
                    <legend>{{ 'home.bests_sells.title'|trans }}</legend>
                    Here are the best sells
                </fieldset>
              </div>
            </div>
        </div>
    </div>
{% endblock %}