{% trans_default_domain 'templatesTranslations' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-horizontal" role="form">
        <fieldset>
            <legend>{{ 'reset_password.title'|trans }}</legend>
            {% if invalid_username is defined %}
                <div class="alert alert-block alert-danger fade in">
                    {{ 'reset_password.invalid_email'|trans({'%username%': invalid_username}) }}
                </div>
            {% endif %}
            <div class="form-group">
                <label class="control-label col-xs-5 col-sm-5 col-md-5" for="username">{{ 'reset_password.email'|trans }}</label>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <input type="text" id="username" name="username" value="" class="form-control">
                </div>
            </div>
            <div class="control-label col-xs-5 col-sm-5 col-md-5"></div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <button class='btn btn-primary' type="submit">{{ 'reset_password.submit'|trans }}</button>
                <a href={{ path('frontend_frontoffice_homepage') }} class="btn btn-default"> {{ 'common.go_back'|trans }} </a>
            </div>
        </fieldset>
        
    </div>
</form>
