{% trans_default_domain 'templatesTranslations' %}
<div class="col-sm-12">
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h5 class="panel-title">
    	        <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
    	        &nbsp&nbsp
    	        {{ 'game_card.title'|trans }}
    	   </h5>
        </div>
        
        <!-- Table -->
        <table id="table-sellers" class="table tablesorter">
            <thead>
                <tr>
                    <th class="username">User</th>
                    <th class="price">Price</th>
                    <th class="photo hidden-xs">Photo</th>
                    <th class="state hidden-xs">Etat</th>
                    <th class="blister hidden-xs">Blister</th>
                    <th class="notice hidden-xs">Notice</th>
                    <th class="game-package hidden-xs ">Boite</th>
                    <th class="zone hidden-xs">Zone</th>
                    <th class="language hidden-xs">Langue</th>
                    <th class="other-name visible-lg">Nom alternatif</th>
                </tr>
            </thead>
            <tbody>
            {% for g in games %}
                <tr>
                    <td>{{ g.username }}</td>
                    <td class="align-right">{{ g.price }} €</td>
                    <td class="align-center hidden-xs">
                        {% if g.image_seller is defined and g.image_seller != "" %}
                            <a href="#" onclick="return false;" aria-hidden="true" data-html="true" data-trigger="focus" data-placement="top" data-toggle="popover" title="{{ g.username }}" data-content="<img class='margin-auto' src='pictures/{{ g.game_id }}/{{ g.image_seller }}' alt='Game picture' />">
                                <span class="glyphicon glyphicon-picture" ></span>
                            </a>
                        {% endif %}
                    </td>
                    <td class="align-center hidden-xs">{{ g.state|trans }}</td>
                    {% if g.blister is defined and g.blister==1 %}
                        <td class="align-center hidden-xs"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                    {% else %}
                        <td class="align-center hidden-xs"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                    {% endif %}
                    {% if g.notice is defined and g.notice==1 %}
                        <td class="align-center hidden-xs"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                    {% else %}
                        <td class="align-center hidden-xs"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                    {% endif %}
                    {% if g.game_package is defined and g.game_package==1 %}
                        <td class="align-center hidden-xs"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                    {% else %}
                        <td class="align-center hidden-xs"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                    {% endif %}
                    <td class="align-center hidden-xs">{{ g.zone }}</td>
                    <td class="align-center hidden-xs">{{ g.language }}</td>
                    <td class="align-center visible-lg">{{ g.alternative_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>