{% extends 'FrontendFrontOfficeBundle::baseMenu.html.twig' %}
{% trans_default_domain 'templatesTranslations' %}

{% block meta %}
    <meta name="description" content="Rompy's Project : informations sur le jeu {{ game.name }}" />
    <meta property="og:description" content="Rompy's Project : informations sur le jeu {{ game.name }}" />
    
    <title>Rompys Project : {{ game.name }}</title>
    <meta property="og:title" content="Rompys Project : {{ game.name }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/public/js/page/game_card.js"></script>
{% endblock %}

{% block body %}
    <div id="catalog" class="page">
        <div id="game-infos" class="row">
            {% include 'FrontendFrontOfficeBundle:Catalog:game_infos.html.twig' with {'infos': game, 'stats': stats} %}
        </div>
        <div id="game-sellers" class="row">
            {% include 'FrontendFrontOfficeBundle:Catalog:game_sellers.html.twig' with {'games': games} %}
        </div>
    </div>

{% endblock %}