{% trans_default_domain 'templatesTranslations' %}

<div id="search-menu" class="panel panel-primary home-panel">
    <div class="panel-heading menu-toggle">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#search-filter-menu">
	        <h3 class="panel-title"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span>&nbsp&nbsp{{ 'catalog.filter.title'|trans }}</h3>
	    </button>
	    <h3 class="panel-title hidden-xs"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span>&nbsp&nbsp{{ 'catalog.filter.title'|trans }}</h3>
	</div>
	<div id="search-filter-menu" class="panel-body padding-bottom-20 navbar-collapse collapse">
        <div id="filter-form">
            <div class="form-group margin-top-20">
                <input type="text" class="form-control" id="name-input" placeholder="{{ 'catalog.filter.name.placeholder'|trans }}">
            </div>
            <div class="form-group margin-top-20">
                <select id="plateform-input" class="form-control">
                    <option value="" selected>{{ 'catalog.filter.platform.placeholder'|trans }}</option>
                    <option value="1">PS3</option>
                    <option value="2">Wii</option>
                    <option value="3">PC</option>
                    <option value="4">NES</option>
                </select>
            </div>
            <div class="form-group margin-top-20">
                <select id="gametype-input" class="form-control">
                    <option value="0" selected>{{ 'catalog.filter.gametype.placeholder'|trans }}</option>
                    {% for t in game_types %}
                        <option value="{{ t.id }}">{{ t.value|trans }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group margin-top-20">
                <input type="text" class="form-control" id="editor-input" placeholder="{{ 'catalog.filter.editor.placeholder'|trans }}">
            </div>
            <div class="form-group margin-top-20">
                <select id="zone-input" class="form-control">
                    <option value="" selected>{{ 'catalog.filter.zone.placeholder'|trans }}</option>
                    <option value="0">{{ 'catalog.filter.zone.pal'|trans }}</option>
                    <option value="1">{{ 'catalog.filter.zone.ntsc'|trans }}</option>
                    <option value="2">{{ 'catalog.filter.zone.jap'|trans }}</option>
                </select>
            </div>
            <div class="form-group margin-top-20">
                <select id="state-input" class="form-control">
                    <option value="0" selected>{{ 'catalog.filter.state.placeholder'|trans }}</option>
                    {% for s in game_states %}
                        <option value="{{ s.id }}">{{ s.value|trans }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group margin-top-20">
                <select id="package-input" class="form-control">
                    <option value="" selected>{{ 'catalog.filter.package.placeholder'|trans }}</option>
                    <option value="1">{{ 'catalog.filter.package.yes'|trans }}</option>
                    <option value="0">{{ 'catalog.filter.package.no'|trans }}</option>
                    <option value="-1">{{ 'catalog.filter.package.nocare'|trans }}</option>
                </select>
            </div>
            <div class="form-group margin-top-20">
                <select id="blister-input" class="form-control">
                    <option value="" selected>{{ 'catalog.filter.blister.placeholder'|trans }}</option>
                    <option value="1">{{ 'catalog.filter.blister.yes'|trans }}</option>
                    <option value="0">{{ 'catalog.filter.blister.no'|trans }}</option>
                    <option value="-1">{{ 'catalog.filter.blister.nocare'|trans }}</option>
                </select>
            </div><div class="form-group margin-top-20">
                <select id="notice-input" class="form-control">
                    <option value="" selected>{{ 'catalog.filter.notice.placeholder'|trans }}</option>
                    <option value="1">{{ 'catalog.filter.notice.yes'|trans }}</option>
                    <option value="0">{{ 'catalog.filter.notice.no'|trans }}</option>
                    <option value="-1">{{ 'catalog.filter.notice.nocare'|trans }}</option>
                </select>
            </div>
            <div class="row">
                <input type="text" id="pricemin-input" class="search-price-input"/> {{ 'catalog.filter.price.label'|trans }} <input type="text" id="pricemax-input" class="search-price-input" />
            </div>
            <div class="align-center margin-top-50">
                <button role="button" onclick="alert('filtrage');" class="btn btn-primary">{{ 'catalog.filter.button'|trans }}</button>
            </div>
        </div>
	</div>
</div>