{% trans_default_domain 'templatesTranslations' %}

<div id="footer">
    <span>
        <i class="fa fa-copyright"></i>
        Copyright 2016 - Quentin Gaillard -- {{ 'footer.rights'|trans }}
    </span>
    <div class="pull-right"> 
        <a data-toggle="modal" data-target="#faqModal">{{ 'footer.faq'|trans }}</a> - 
        <a data-toggle="modal" data-target="#legalsModal">{{ 'footer.legals'|trans }}</a> - 
        <a data-toggle="modal" data-target="#contactModal">{{ 'footer.contact'|trans }}</a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="faqModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
          &nbsp{{ 'faq.title'|trans|raw }}
        </h4>
      </div>
      <div class="modal-body">
        <h6> {{ 'faq.where_add.question'|trans|raw }} </h6>
        <p>
          {{ 'faq.where_add.response'|trans|raw }}
        </p>
        <h6> {{ 'faq.missing_data_add.question'|trans|raw }} </h6>
        <p>
          {{ 'faq.missing_data_add.response'|trans|raw }}
        </p>
        <h6> {{ 'faq.how_answer.question'|trans|raw }} </h6>
        <p>
          {{ 'faq.how_answer.response'|trans|raw }}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          {{ 'faq.close'|trans }}}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="legalsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          &nbsp{{ 'legals.title'|trans }}
        </h4>
      </div>
      <div class="modal-body">
        <center>{{ 'legals.content'|trans|raw }}</center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          {{ 'legals.close'|trans }}}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          &nbsp{{ 'contact.title'|trans }}
        </h4>
      </div>
      <div class="modal-body align-center">
        {{ 'contact.content'|trans({'%contact_mail%': contact_mail})|raw }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          {{ 'contact.close'|trans }}
        </button>
      </div>
    </div>
  </div>
</div>