{% extends 'FrontendFrontOfficeBundle:Profile:profile.html.twig' %}
{% trans_default_domain 'templatesTranslations' %}

{% block profile_content %}
    <form action="{{ path('frontend_frontoffice_profile_add_game') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal space-under" role="form">
        <div class="block-content">
            {% if not form.vars.valid %}
                <div class="alert alert-block alert-danger fade in">
    
                </div>
            {% endif %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <fieldset>
                        <legend><small>{{ 'profile.catalog.add_game.game.title'|trans }}</small></legend>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-3 col-lg-3">{{ form_label(form.game.name) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                {{ form_widget(form.game.name, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div id="div_game_fields" class="display-none">
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.game.series) }}</label>
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    {{ form_widget(form.game.series, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.game.game_type) }}</label>
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    {{ form_widget(form.game.game_type, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.game.plateform) }}</label>
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    {{ form_widget(form.game.plateform, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.game.editor) }}</label>
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    {{ form_widget(form.game.editor, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.game.released_year) }}</label>
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    {{ form_widget(form.game.released_year, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <fieldset>
                        <legend><small>{{ 'profile.catalog.add_game.game_catalog.title'|trans }}</small></legend>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.alternative_name) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                {{ form_widget(form.alternative_name, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.language) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                                {{ form_widget(form.language, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.game_package) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                                {{ form_widget(form.game_package, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.blister) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                                {{ form_widget(form.blister, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.notice) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                                {{ form_widget(form.notice, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.state) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                                {{ form_widget(form.state, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.zone) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                                {{ form_widget(form.zone, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.price) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                {{ form_widget(form.price, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.comment) }}</label>
                                <div class="col-xs-0 col-sm-0 col-md-7 col-lg-7"></div>
                            </div>
                            <div class=""row>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    {{ form_widget(form.comment, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            
        </div>
    </form>
    
    <center>
        <a class="btn btn-default" href="#paneCatalog" data-toggle="tab">{{ 'profile.catalog.add_game.btn'|trans }}</a> 
    </center>
    
    <script>
    var liste = [
        "Draggable",
        "Droppable",
        "Resizable",
        "Selectable",
        "Sortable"
    ];
        $('#frontend_frontoffice_addGame_game_name').autocomplete({
            source : function(requete, reponse){ // les deux arguments représentent les données nécessaires au plugin
                $.ajax({
                    url : "{{ path('frontend_frontoffice_common_get_all_games') }}",
                    dataType : 'json', // on spécifie bien que le type de données est en JSON
                    data : {
                        name_startsWith : $('#frontend_frontoffice_addGame_game_name').val(), // on donne la chaîne de caractère tapée dans le champ de recherche
                    },
                     //$('#frontend_frontoffice_addGame_game_name').val('test');
                    success : function(donnee){
                        console.log(donnee);
                        reponse($.map(donnee.games, function(objet){
                            return objet.name+" ("+objet.plateform+")";
                        }));
                    }
                });
            }
        });
    </script>
    
{% endblock %}
