{% extends 'FrontendFrontOfficeBundle:Profile:profile.html.twig' %}
{% trans_default_domain 'templatesTranslations' %}

{% block profile_content %}
    <form action="{{ path('frontend_frontoffice_profile_add_game') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal space-under" role="form">
        <div class="block-content">
            {% if not form.vars.valid %}
                <div class="alert alert-block alert-danger fade in">
                    Une erreur est survenue lors de l'ajout de votre jeu au catalogue :
                    {% if form_errors(form.game.name) is not null %}
                         {{ form_errors(form.game.name) }}
                    {% endif %}
                    {% if form_errors(form.game.series) is not null %}
                         {{ form_errors(form.game.series) }}
                    {% endif %}
                    {% if form_errors(form.game.game_type) is not null %}
                         {{ form_errors(form.game.game_type) }}
                    {% endif %}
                    {% if form_errors(form.game.plateform) is not null %}
                         {{ form_errors(form.game.plateform) }}
                    {% endif %}
                    {% if form_errors(form.game.editor) is not null %}
                         {{ form_errors(form.game.editor) }}
                    {% endif %}
                    {% if form_errors(form.game.released_year) is not null %}
                         {{ form_errors(form.game.released_year) }}
                    {% endif %}
                    {% if form_errors(form.alternative_name) is not null %}
                         {{ form_errors(form.alternative_name) }}
                    {% endif %}
                    {% if form_errors(form.language) is not null %}
                         {{ form_errors(form.language) }}
                    {% endif %}
                    {% if form_errors(form.game_package) is not null %}
                         {{ form_errors(form.game_package) }}
                    {% endif %}
                    {% if form_errors(form.blister) is not null %}
                         {{ form_errors(form.blister) }}
                    {% endif %}
                    {% if form_errors(form.notice) is not null %}
                         {{ form_errors(form.notice) }}
                    {% endif %}
                    {% if form_errors(form.state) is not null %}
                         {{ form_errors(form.state) }}
                    {% endif %}
                    {% if form_errors(form.zone) is not null %}
                         {{ form_errors(form.zone) }}
                    {% endif %}
                    {% if form_errors(form.price) is not null %}
                         {{ form_errors(form.price) }}
                    {% endif %}
                    {% if form_errors(form.comment) is not null %}
                         {{ form_errors(form.comment) }}
                    {% endif %}
                </div>
            {% endif %}
            {% if add is not null and add == true %}
                <div class="alert alert-block alert-success fade in">
                    Le jeu a été ajouté à votre catalogue
                </div>
            {% endif %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <fieldset>
                        <legend><small>{{ 'profile.catalog.add_game.game.title'|trans }}</small></legend>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-3 col-lg-3">{{ form_label(form.game.name) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                <div class="row">
                                    {{ form_widget(form.game.name, { 'attr': {'class': 'form-control'} }) }}
                                    <img id="name-loader" src="/rompy/web/bundles/frontendfrontoffice/img/ajax-loader-small.gif" alt="" class="img-responsive display-none" />
                                </div>
                            </div>
                        </div>
                        <div id="div_game_fields" class="display-none">
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.game.series) }}</label>
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    {{ form_widget(form.game.series, { 'attr': {'class': 'form-control full_parent_width', 'disabled':'disabled'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.game.game_type) }}</label>
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    {{ form_widget(form.game.game_type, { 'attr': {'class': 'form-control full_parent_width', 'disabled':'disabled'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.game.plateform) }}</label>
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    {{ form_widget(form.game.plateform, { 'attr': {'class': 'form-control full_parent_width', 'disabled':'disabled'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.game.editor) }}</label>
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    {{ form_widget(form.game.editor, { 'attr': {'class': 'form-control full_parent_width', 'disabled':'disabled'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.game.released_year) }}</label>
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    {{ form_widget(form.game.released_year, { 'attr': {'class': 'form-control', 'disabled':'disabled'} }) }}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <fieldset>
                        <legend><small>{{ 'profile.catalog.add_game.game_catalog.title'|trans }}</small></legend>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.alternative_name) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                {{ form_widget(form.alternative_name, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.language) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                                {{ form_widget(form.language, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.game_package) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                                {{ form_widget(form.game_package, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.blister) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                                {{ form_widget(form.blister, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.notice) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                                {{ form_widget(form.notice, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.state) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                                {{ form_widget(form.state, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.zone) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                                {{ form_widget(form.zone, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.price) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                {{ form_widget(form.price, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ form_label(form.comment) }}</label>
                                <div class="col-xs-0 col-sm-0 col-md-7 col-lg-7"></div>
                            </div>
                            <div class=""row>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    {{ form_widget(form.comment, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            
        </div>
    </form>
    
    <center>
        <a class="btn btn-default" href="#paneCatalog" data-toggle="tab">{{ 'profile.catalog.add_game.btn'|trans }}</a> 
    </center>
    
    <script>
        $('#frontend_frontoffice_addGame_game_name').autocomplete({
            delay: 1000, 
            search: function( event, ui ) {
                $("#name-loader").show();
            },
            source : function(requete, reponse){ // les deux arguments représentent les données nécessaires au plugin
                $.ajax({
                    url : "{{ path('frontend_frontoffice_common_get_all_games') }}",
                    dataType : 'json', // on spécifie bien que le type de données est en JSON
                    data : {
                        start : $('#frontend_frontoffice_addGame_game_name').val(), // on donne la chaîne de caractère tapée dans le champ de recherche
                    },
                     //$('#frontend_frontoffice_addGame_game_name').val('test');
                    success : function(donnee){
                        game_liste = new Array();
                        $.map(donnee.games, function(value, index) {
                            game_liste[index] = value;
                        });
                        reponse($.map(donnee.games, function(objet){
                            return objet.name+" ("+objet.plateform+") [#"+objet.id+"#]";
                        }));
                        $("#name-loader").hide();
                    },
                    error : function(jqXHR, textStatus, errorThrown)
                    {
                        alert(textStatus + "\n" + errorThrown);
                        $("#name-loader").hide();
                    },
                    timeout: 10000
                });
            },
            select: function( event, ui ) {
                var value = ui.item.value;
                var ar_value = value.split("[#");
                var ar_id = ar_value[1].split("#]");
                var id = parseInt(ar_id[0]);
                
                var game = game_liste[id];
                
                $("#div_game_fields").show();
                $("#frontend_frontoffice_addGame_game_series").val(game.serie_id);
                $("#frontend_frontoffice_addGame_game_game_type").val(game.game_type_id);
                $("#frontend_frontoffice_addGame_game_plateform").val(game.plateform_id);
                $("#frontend_frontoffice_addGame_game_editor").val(game.editor_id);
                $("#frontend_frontoffice_addGame_game_released_year").val(game.released_year);
                
                // div : div_game_fields
                // serie : frontend_frontoffice_addGame_game_series
                // game_type : frontend_frontoffice_addGame_game_game_type
                // plateform : frontend_frontoffice_addGame_game_plateform
                // editor : frontend_frontoffice_addGame_game_editor
                // released_year : frontend_frontoffice_addGame_game_released_year
            }
        });
    </script>
    
{% endblock %}
