{% trans_default_domain 'templatesTranslations' %}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
    <form action="{{ path('frontend_frontoffice_profile_update_game', {'id': id, 'hash':hash}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal space-under" role="form">
        <div class="block-content">
            {% if not form.vars.valid %}
            <div class="alert alert-block alert-danger fade in">
                Une erreur est survenue lors de l'ajout de votre jeu au catalogue : 
                {% if form_errors(form.name) is not null %} {{ form_errors(form.name) }} {% endif %} 
                {% if form_errors(form.serie) is not null %} {{ form_errors(form.serie) }} {%endif %} 
                {% if form_errors(form.gameType) is not null %} {{ form_errors(form.gameType) }} {% endif %} 
                {% if form_errors(form.plateform) is not null %} {{ form_errors(form.plateform) }} {% endif %} 
                {% if form_errors(form.editor1) is not null %} {{ form_errors(form.editor1) }} {% endif %} 
                {% if form_errors(form.editor2) is not null %} {{ form_errors(form.editor2) }} {% endif %} 
                {% if form_errors(form.editor3) is not null %} {{ form_errors(form.editor3) }} {% endif %} 
                {% if form_errors(form.releasedYear) is not null %} {{ form_errors(form.releasedYear) }} {% endif %} 
                {% if form_errors(form.alternativeName) is not null %} {{ form_errors(form.alternativeName) }} {% endif %}
                {% if form_errors(form.language) is not null %} {{ form_errors(form.language) }} {% endif %} 
                {% if form_errors(form.package) is not null %} {{ form_errors(form.package) }} {% endif %} 
                {% if form_errors(form.blister) is not null %} {{ form_errors(form.blister) }} {% endif %} 
                {% if form_errors(form.notice) is not null %} {{ form_errors(form.notice) }} {% endif %} 
                {% if form_errors(form.state) is not null %} {{ form_errors(form.state) }} {% endif %} 
                {% if form_errors(form.zone) is not null %} {{ form_errors(form.zone) }} {% endif %} 
                {% if form_errors(form.price) is not null %} {{ form_errors(form.price) }} {% endif %} 
                {% if form_errors(form.comment) is not null %} {{ form_errors(form.comment) }} {% endif %} 
                {{form_errors(form) }}
            </div>
            {% endif %} {% if add is defined and add is not null and add == true %}
            <div class="alert alert-block alert-success fade in">
                Le jeu a été modifié
            </div>
            {% endif %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <fieldset>
                        <legend class="align-center"><small>{{ 'profile.add_game.game.title'|trans }}</small></legend>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-3 col-lg-3 margin-right-5">{{ form_label(form.name) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                <div class="row">
                                    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                        
                        <div id="div_game_fields">
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    {{ form_widget(form.id, { 'attr': {'class': 'form-control full_parent_width display-none'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-3 margin-right-5">{{ form_label(form.serie) }}</label>
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    {{ form_widget(form.serie, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-3 margin-right-5">{{ form_label(form.gameType) }}</label>
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    {{ form_widget(form.gameType, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-3 margin-right-5">{{ form_label(form.plateform) }}</label>
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    {{ form_widget(form.plateform, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-3 margin-right-5">{{ form_label(form.editor1) }}</label>
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    {{ form_widget(form.editor1, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-3 margin-right-5">{{ form_label(form.editor2) }}</label>
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    {{ form_widget(form.editor2, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-3 margin-right-5">{{ form_label(form.editor3) }}</label>
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    {{ form_widget(form.editor3, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-3 margin-right-5">{{ form_label(form.releasedYear) }}</label>
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    {{ form_widget(form.releasedYear, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-3 margin-right-5">{{ form_label(form.file) }}</label>
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    {{ form_widget(form.file, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                            {% if game.image is not null %}
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-3 margin-right-5">{{ form_label(form.delete) }}</label>
                                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                        <div class="thumbnail">
                                            <img src="/public/pictures/{{ game.image }}" alt="{{ game.name }}">
                                        </div>
                                        {{ form_widget(form.delete, { 'attr': {'class': ''} }) }}
                                    </div>
                                </div>
                            {% else %}
                                {% do form.delete.setRendered %}
                            {% endif %}
                        </div>
                    </fieldset>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <fieldset>
                        <legend class="align-center"><small>{{ 'profile.add_game.game_catalog.title'|trans }}</small></legend>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-3 margin-right-5">{{ form_label(form.alternativeName) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                {{ form_widget(form.alternativeName, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-3 margin-right-5">{{ form_label(form.language) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                {{ form_widget(form.language, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-3 margin-right-5">{{ form_label(form.package) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                {{ form_widget(form.package, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-3 margin-right-5">{{ form_label(form.blister) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                {{ form_widget(form.blister, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-3 margin-right-5">{{ form_label(form.notice) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                {{ form_widget(form.notice, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-3 margin-right-5">{{ form_label(form.state) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                {{ form_widget(form.state, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-3 margin-right-5">{{ form_label(form.zone) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                {{ form_widget(form.zone, { 'attr': {'class': 'form-control full_parent_width'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-3 margin-right-5">{{ form_label(form.price) }}</label>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                <div class="input-group">
                                    {{ form_widget(form.price, { 'attr': {'class': 'form-control', 'aria-describedby':'addon-euro'} }) }}
                                    <span class="input-group-addon" id="addon-euro">€</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-xs-12 col-sm-12 col-md-5 col-lg-3 margin-right-5" style="text-align: left">{{ form_label(form.comment) }}</label>
                                <div class="col-xs-0 col-sm-0 col-md-7 col-lg-7"></div>
                            </div>
                            <div class="" row>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    {{ form_widget(form.comment, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <center>
                {{ form_rest(form) }}
                <input type="submit" class="btn btn-primary" value="{{ 'profile.edit_game.btn'|trans }}" />
                <a href="{{ path('frontend_frontoffice_profile_home') }}" class="btn btn-default white-background orange-color">{{ 'common.go_back'|trans }}</a>
            </center>
        </div>
    </form>
</div>

<script>
    var names = [];
    {% for n in data.name %}
        names.push('{{ n }}');
    {% endfor %}
    
    var series = [];
    {% for s in data.serie %}
        series.push('{{ s }}');
    {% endfor %}
    
    var editors = [];
    {% for e in data.editor %}
        editors.push('{{ e }}');
    {% endfor %}
    
    $('#frontend_frontoffice_addGame_name').autocomplete({
        source: names
    });
    $('#frontend_frontoffice_addGame_serie').autocomplete({
        source: series
    });
    $('#frontend_frontoffice_addGame_editor1').autocomplete({
        source: editors
    });
    $('#frontend_frontoffice_addGame_editor2').autocomplete({
        source: editors
    });
    $('#frontend_frontoffice_addGame_editor3').autocomplete({
        source: editors
    });
</script>