{% extends 'FrontendFrontOfficeBundle::baseMenu.html.twig' %}
{% trans_default_domain 'templatesTranslations' %}

{% block meta %}
    <meta name="description" content="Rompy's Project : mon profil" />
    <meta property="og:description" content="Rompy's Project : mon profil" />
    
    <title>Rompys Project : profil de {{ user.username }}</title>
    <meta property="og:title" content="Rompys Project : profil de {{ user.username }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="public/js/page/profile.js"></script>
{% endblock %}

{% block body %}
    <div id="profile" class="page">
        <div class="row">
            {{ include ('FrontendFrontOfficeBundle:Profile:info.html.twig', {'user': user}) }}
        </div>
        <div id="page-catalog" class="row">
            {{ include ('FrontendFrontOfficeBundle:Profile:catalog.html.twig', {'games': games}) }}
        </div>
    </div>
{% endblock %}