{% trans_default_domain 'templatesTranslations' %}
<div class="col-sm-12">
    <div class="row">
        <div class="panel panel-primary">
        	<div class="panel-heading">
        	    <h5 class="panel-title">
        	        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        	        &nbsp&nbsp
        	        {{ 'profile.info.title'|trans }}
        	   </h5>
        	</div>
        	<div class="panel-body">
        		<div class="row">
        			<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
	        		    <div class="row">
							<span class="infos-label">{{'profile.info.username'|trans}}</span>
							<span>{{ user.username }}</span>
						</div>
						<div class="row">
							<span class="infos-label">{{'profile.info.firstname'|trans}}</span>
							<span>{{ user.firstname }}</span>
						</div>
						<div class="row">
							<span class="infos-label">{{'profile.info.lastname'|trans}}</span>
							<span>{{ user.lastname }}</span>
						</div>
						<div class="row">
							<span class="infos-label">{{'profile.info.email'|trans}}</span>
							<span>{{ user.email }}</span>
						</div>
						<div class="row">
							<span class="infos-label">{{'profile.info.phone'|trans}}</span>
							<span>{{ user.phone }}</span>
						</div>
			    	</div>
			    	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			    		<div class="row">
			                <a href="{{ path('fos_user_change_password') }}" class='btn btn-primary margin-top-20 width-parent' type="submit">{{ 'profile.info.button.password'|trans }}</a>
			            </div>
			            <div class="row">
			                <a href={{ path('frontend_frontoffice_profile_update') }} class="btn btn-default margin-top-10 width-parent"> {{ 'profile.info.button.update'|trans }} </a>
			            </div>
			    	</div>
        		</div>
        	</div>
        </div>
    </div>
</div>