{% extends 'FrontendFrontOfficeBundle::baseFrontend.html.twig' %}
{% trans_default_domain 'templatesTranslations' %}

{% block body %}
    <div id="home_content" class="row">
        <div id="left_content" class="col-xs-2 col-sm-2 col-md-2">
            <div class="block-content space-under">
                <fieldset>
                    <legend>{{ 'profile.infos.title'|trans }}</legend>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 no-padding"><u><small>{{ 'profile.infos.username.label'|trans }}</small></u></div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 no-padding">{{ user.username }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 no-padding"><u><small>{{ 'profile.infos.firstname.label'|trans }}</small></u></div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 no-padding">{{ user.firstname }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 no-padding"><u><small>{{ 'profile.infos.lastname.label'|trans }}</small></u></div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 no-padding">{{ user.lastname }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding"><u><small>{{ 'profile.infos.email.label'|trans }}</small></u></div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">{{ user.email }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 no-padding"><u><small>{{ 'profile.infos.phone.label'|trans }}</small></u></div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 no-padding">{{ user.phone }}</div>
                    </div>
                    <div class="space-under"></div>
                    <center>
                        <a class="btn btn-default" href="{{ path('frontend_frontoffice_profile_update') }}">{{ 'profile.infos.update.btn'|trans }}</a>
                    </center>
                </fieldset>
            </div>
            <div id="profile_content" class="block-content">
                <fieldset>
                    <legend>...</legend>
                    <div class="row">
                        
                    </div>
                </fieldset>
            </div>
        </div>
        <div id="center_content" class="col-xs-7 col-sm-7 col-md-7">
            <div class="block-content">
                <fieldset>
                    <legend>{{ 'profile.catalog.title'|trans }}</legend>
                    {% block profile_content %}{% endblock %}
                </fieldset>
            </div>
        </div>
        <div id="right_content" class="col-xs-3 col-sm-3 col-md-3">
            <div class="block-content space-under">
                <fieldset class="block-content">
                    <legend>...</legend>
                </fieldset>
            </div>
            <div class="block-content">
                <fieldset class="block-content">
                    <legend>...</legend>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}