{% trans_default_domain 'templatesTranslations' %}
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal" role="form">
		{% if not form.vars.valid %}
		<div class="alert alert-block alert-danger fade in">
			<button class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</button>
			{% if form_errors(form.current_password) is not null %} {{ form_errors(form.current_password) }} {% endif %} {% if form_errors(form.plainPassword.first) is not null %} {{ form_errors(form.plainPassword.first) }} {% endif %} {% if form_errors(form.plainPassword.second)
			is not null %} {{ form_errors(form.plainPassword.second) }} {% endif %}
		</div>
		{% endif %}
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-4 col-md-4 col-lg-4 margin-right-5">{{ form_label(form.current_password) }}</label>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
				{{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-4 col-md-4 col-lg-4 margin-right-5">{{ form_label(form.plainPassword.first) }}</label>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
				{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-4 col-md-4 col-lg-4 margin-right-5">{{ form_label(form.plainPassword.second) }}</label>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
				{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
			</div>
		</div>
		<div class="margin-top-10 align-center">
			<input type="submit" value="{{ 'profile.password.button'|trans }}" class="btn btn-primary" />
			<a class="btn btn-default" href="{{ path('frontend_frontoffice_profile_home') }}">{{ 'profile.password.return'|trans }}</a>
		</div>
		{{ form_row(form._token) }}
</form>
