{% trans_default_domain 'templatesTranslations' %}


<form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="form-horizontal">
    {% if error %}
        <div class="alert alert-block alert-danger fade in">
            {{ error|trans }}
        </div>
    {% endif %}
    <input type="hidden" name="_csrf_token" value="" />
    <div>
        <label class="control-label" for="username_email">{{ 'home.login.label.login'|trans }}</label>
        <input type="text" id="username_email" name="_username" value="" placeholder="{{ 'home.login.placeholder.login'|trans }}" class="form-control">
    </div>
    <div>
        <label for="password" class="control-label">{{ 'home.login.label.password'|trans }}</label>
        <input type="password" id="password" name="_password" placeholder="{{ 'home.login.placeholder.password'|trans }}" class="form-control">
    </div>
    <div class="space-under-20">
        <a class="small_10" href="{{ path('fos_user_resetting_request') }}">{{ 'home.login.button.forgot_password'|trans }}</a>
    </div>
    <div class="center-align">
        <button type="submit" id="_submit" name="_submit" class="btn btn-default full_parent_width">{{ 'home.login.button.submit'|trans }}</button>
        <a class="btn btn-primary full_parent_width" href="{{ path('fos_user_registration_register') }}">{{ 'home.login.button.register'|trans }}</a>
    </div>     
</form>
